<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IHostedNetworkService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/LenovoWiFi/HostedNetworkService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IHostedNetworkService"
                contract="Proxy.IHostedNetworkService" name="NetNamedPipeBinding_IHostedNetworkService">
                <identity>
                    <userPrincipalName value="KIDD-WIN7-X240S\Kidd" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>