<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hostednetworkname" value="" />
    <add key="hostednetworkkey" value="" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service name="Lenovo.WiFi.HostedNetworkService" behaviorConfiguration="MEX">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/LenovoWiFi/HostedNetworkService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netNamedPipeBinding" contract="Lenovo.WiFi.IHostedNetworkService"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
